* {
    -main-background-color: #273245;
    -lighter-background-color: #38465d;
    -darker-background-color: #1c2532;
    -darkest-background-color: #171d2b;
    -fx-background: #1c2532;
    -default-text-color: #bcc5d2;
    -light-highlight-color: #e05c5c;
    -highlight-color: #b94646;
}

@font-face {
    font-family: Montserrat;
    src: url('../codeEditor/Montserrat-Regular.ttf');
}

.label {
    -fx-text-fill: -default-text-color;
}
.highlighted-label {
    -fx-text-fill: -highlight-color;
}

.scroll-pane > .corner {
    -fx-background-color: -main-background-color;
}
.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: -main-background-color;
}

.increment-button, .decrement-button {
    -fx-background-color: -main-background-color;
    -fx-border-color: -main-background-color;
    -fx-border-width: 0;
    -fx-shape: "";
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: -main-background-color;
    -fx-border-color: -main-background-color;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #b94646;
    -fx-background-radius: 5em;
}
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: transparent;
}
.scroll-pane:focused,
.split-pane:focused,
.list-view:focused,
.tree-view:focused,
.table-view:focused,
.tree-table-view:focused {
    -fx-background-color: -fx-background;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.scroll-pane:focused,
.split-pane:focused {
    -fx-background-color: -fx-background;
}
.slider .track {
    -fx-background-color: -main-background-color;
    -fx-background-insets: 0 0 -1 0, 0, 1;
    -fx-background-radius: 0.25em, 0.25em, 0.166667em; /* 3 3 2 */
    -fx-padding: 0.25em; /* 3 */
}
.slider:vertical .track {
    -fx-background-color: -main-background-color;
}

.button {
    -fx-background-color: -main-background-color;
    -fx-font-family: "Montserrat";
    -fx-font-size: 14;
    -fx-padding: 2;
    -fx-background-radius: 0;
    -fx-font-weight: bold;
    -fx-text-fill: -default-text-color;
}
.button:hover {
    -fx-background-color: -lighter-background-color;
}
.active-button {
    -fx-background-color: -darker-background-color;
}
.active-button:hover {
    -fx-background-color: #18182f;
}
.darker-background {
    -fx-background-color: -darker-background-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: -main-background-color;
}
.split-pane:vertical > .split-pane-divider {
    -fx-background-color: -main-background-color;
}
.split-pane {
    -fx-background-color: -main-background-color;
    -fx-border-color: -main-background-color;
}

.tree-view {
    -fx-background-color: -main-background-color;
}

.menu-bar {
    -fx-background-color: -darkest-background-color;
}

.menu-bar .label {
    -fx-text-fill: -default-text-color;
}
.menu-item {
    -fx-background-color: -darkest-background-color;
}

.menu-item:hover {
    -fx-background-color: -fx-background;
}

.popup-shower {
    -fx-background-color: rgba(30, 30, 30, 0.7);
}

.context-menu {
    -fx-background-color: -darkest-background-color;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: -main-background-color;
}
.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-color: -fx-background;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}
.selected-syntax {
    -fx-background-color: -darkest-background-color;
}
.circle-highlight-background:hover {
    -fx-fill: -highlight-color;
}
.transparent-background {
    -fx-background-color: transparent;
}
.transparent-background:hover {
    -fx-background-color: transparent;
}

.popup-item {
    -fx-spacing: 10;
}
.popup-item .label {
    -fx-text-alignment: center;
    -fx-background-color: -darkest-background-color;
}
.popup-item .text-field {
    -fx-background-color: -darkest-background-color;
    -fx-text-fill: -default-text-color;
    -fx-background-insets: -2;
    -fx-background-radius: 5;
}
.popup-item .text-field:focused {
    -fx-border-color: -highlight-color;
    -fx-border-width: 3;
    -fx-border-radius: 5;
}
.popup-item .button:focused {
    -fx-border-color: -highlight-color;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}
.popup-item .button {
    -fx-background-radius: 5;
}
.tree-cell .text {
    -fx-font-size: 13;
    -fx-font-family: "Montserrat";
    -fx-fill: -default-text-color;
}
.tree-cell:selected {
    -fx-background-color: -lighter-background-color;
}
.file-drag-over {
    -fx-background-color: -main-background-color;
}
.tree-cell:selected .text {
    -fx-fill: -light-highlight-color;
}

