* {
    -default-text-color: #808da7;
    -editor-background-color: #273245;
    -selected-line: #222d3b;
    -fx-background: #273245;
    -editor-selection: rgba(117, 183, 255, 0.13);
}

@font-face {
    font-family: Montserrat;
    src: url('Montserrat-Regular.ttf');
}



.code-area {
    -fx-background-color: -editor-background-color;
}
.code-area  .paragraph-box .paragraph-text,.paragraph-text .text{
    -fx-font-family: "Montserrat";
    -fx-font-size: 18;
    -fx-padding: 0 0 0 8;
    /*-fx-font-weight: bold;*/
}

.code-area .lineno, .lineno {
    /*-fx-text-fill: -default-text-color;*/
    -fx-font-size: 16;
    -fx-background-color: rgb(36, 49, 64);
    -fx-font-family: monospace;
    -fx-background-radius: 0;
    -fx-box-border: none;
}
.code-area .error-lineno {
    -fx-text-fill: #273245;
    -fx-font-weight: bold;
    -fx-background-color: rgba(207, 67, 67, 0.2) !important;
}
/*.code-area .lineno, .error-lineno {*/
/*    -fx-fill: darkred !important;*/
/*}*/

.code-area .left-holder {
    -fx-effect: dropshadow(gaussian, rgb(27, 37, 48), 10, 0, 5, 3);
    -fx-background-color: rgb(36, 49, 64);

}

.code-area .text {
    -fx-fill: -default-text-color;
}

.styled-text-area .selection {
    -fx-fill: -editor-selection !important;
}
.caret {
    -fx-stroke: white;
}

.paragraph-box:has-caret {
    -fx-background-color: -selected-line;
}

.selected-word {
    -rtfx-background-color: rgba(100, 146, 234, 0.1);
    -rtfx-border-stroke-width: 1px;
    -rtfx-border-stroke-color: rgba(100, 146, 234, 0.2);
}

.found {
    -rtfx-background-color: rgba(64, 255, 89, 0.2);
    -rtfx-border-stroke-width: 1px;
    -fx-fill: #c4c4c4 !important;
    -rtfx-border-stroke-color: rgba(64, 255, 89, 0.3);
}




