* {
    -default-text-color: #909ebc;
    -editor-background-color: #273245;
    -selected-line: #2e394c;
    -fx-background: #273245;
    -editor-selection: rgb(65, 78, 100);
    -fx-fill: -default-text-color;
}

.apply-font {
    -fx-font-family: "JetBrains Mono" !important;
}
.code-area {
    -fx-background-color: -editor-background-color;
}
.code-area .paragraph-box .paragraph-text,.paragraph-text .text{
    -fx-font-family: "JetBrains Mono" !important;
    -fx-font-weight: normal;
    -fx-padding: 0 0 0 3;
    -fx-tab-size: 10px !important;
}

.minimap-text {
    -fx-font-family: "JetBrains Mono" !important;
    -fx-font-size: 6 !important;
    -fx-padding: 0 0 0 8;
    -fx-fill: -default-text-color;
}

.code-area .lineno, .lineno {
    -fx-font-family: "JetBrains Mono" !important;
    -fx-background-color: rgb(36, 49, 64);
    -fx-background-radius: 0;
    -fx-box-border: none;
}
.code-area .error-lineno {
    -fx-text-fill: #273245;
    -fx-font-weight: bold;
    -fx-background-color: rgba(207, 67, 67, 0.2) !important;
}

.code-area .left-holder {
    -fx-border-width: 0 1.5 0 0;
    -fx-border-color: -editor-selection;
    -fx-background-color: rgb(36, 49, 64);
}

.code-area .text {
    -fx-fill: -default-text-color;
}

.styled-text-area .selection {
    -fx-fill: -editor-selection !important;
    -fx-border-width: 0;
}
.caret {
    -fx-stroke: white;
}

.paragraph-box:has-caret {
    -fx-background-color: -selected-line;
}

.has-caret {
    -fx-background-color: -selected-line;
}

.mm-viewport {
    -fx-background-color: rgb(255, 255, 255);
}
.mm-viewport-drag {
    -fx-background-color: rgb(180, 255, 234) !important;
}

.selected-word {
    -rtfx-background-color: rgba(100, 146, 234, 0.1) !important;
}

.tooltip-highlight {
    -fx-underline: true;
}

.found {
    -rtfx-background-color: rgba(64, 255, 89, 0.2);
    -rtfx-border-stroke-width: 1px;
    -fx-fill: #c4c4c4 !important;
    -rtfx-border-stroke-color: rgba(64, 255, 89, 0.3);
}

.error-text {
    -fx-underline: true;
    -fx-strikethrough: true;
    -fx-fill: red !important;
    -fx-font-style: italic;
}




