* {
    -main-background-color: #d2d2d2;
    -lighter-background-color: #ffffff;
    -darker-background-color: #d2d2d2;
    -darkest-background-color: #bebebe;
    -fx-background: #efefef;
    -default-text-color: #182030;
    -fx-text-base-color: #182030;
    -fx-focused-text-base-color: #182030;
    -light-highlight-color: #5ea4ff;
    -highlight-color: #2280f3;
}