* {
    -main-background-color: #273245;
    -lighter-background-color: #38465d;
    -even-lighter-background-color: #485975;
    -darker-background-color: #1c2532;
    -darkest-background-color: #171d2b;
    -fx-near-black: #0d1018;
    -fx-background: #1c2532;
    -darkish-background-color: #222d3c;
    -default-text-color: #bcc5d2;
    -fx-text-base-color: #bcc5d2;
    -fx-focused-text-base-color: #bcc5d2;
    -subtitle-text-color: #a5a9b0;
    -selected-line: #222d3b;
    -light-highlight-color: #e05c5c;
    -highlight-color: #b94646;
}

.json-node {
    -fx-text-fill: -default-text-color;
    -fx-fill: -default-text-color;
}

.editable-json-node {
    -fx-padding: 0.15em !important;
    -fx-background-color: -main-background-color !important;
}

.json-titled-pane > .title {
    -fx-background-color: transparent;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.json-titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: white;
}
.json-titled-pane > .title > .arrow-button > .arrow:selected {
    -fx-background-color: white;
    -fx-effect: none;
}
.json-titled-pane > .title > .arrow-button:selected {
    -fx-background-color: white;
    -fx-effect: none;
}

.json-titled-pane > .content {
    -fx-border-color: transparent;
    -fx-padding: 0 0 0 18;
}
.json-list-vbox {
    -fx-border-color: -darkest-background-color;
    -fx-border-width: 0 0 0 3;
}
.json-value-title {

}

.white-text {
    -fx-text-fill: white !important;
    -fx-fill: white;
}

.black-background {
    -fx-background-color: -fx-near-black;
}

.check-box .box {
    -fx-background-color: -lighter-background-color;
    -fx-border-color: -fx-near-black;
    -fx-border-width: 1;
}
.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    /* modify mark color */
    -fx-background-color: white;
}

.selector-item {
    -fx-background-radius: 15;
    -fx-background-color: -lighter-background-color;
    -fx-effect: dropshadow(gaussian, -darkest-background-color, 10, 0.0, 7, 7);
}

.lighter-background {
    -fx-background-color: -lighter-background-color;
}

.underline-hover-label:hover {
    -fx-underline: true;
}

.selector-title {
    -fx-text-fill: -default-text-color;
    -fx-font-weight: bold;
    -fx-font-size: 24;
}

.addon-title {
    -fx-text-fill: -default-text-color;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

.l-title {
    -fx-text-fill: -default-text-color;
    -fx-font-weight: bold;
    -fx-font-size: 28 !important;
}

.xl-title {
    -fx-text-fill: -default-text-color;
    -fx-font-weight: bold;
    -fx-font-size: 32 !important;
}

.xxl-title {
    -fx-text-fill: -default-text-color;
    -fx-font-weight: bold;
    -fx-font-size: 36 !important;
}

.style-pane {
    -fx-border-color: -fx-near-black;
    -fx-border-width: 0 0 3.5 0;
}

.style-label {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.style-editor {
    -fx-font-size: 18;
    -fx-text-fill: #d4d3d3 !important;
}

.update-button {
    -fx-background-color: -lighter-background-color !important;
    -fx-background-radius: 5 !important;
}

.update-button:hover {
    -fx-background-color: -even-lighter-background-color !important;
}

.tabs-holder {
    -fx-background-color: -fx-background;
    -fx-border-color: -fx-near-black;
    -fx-border-radius: 0 0 3 0;
}

.tab-header {
    -fx-background-color: -fx-background;
    -fx-border-width: 0 0 0 3.5;
    -fx-border-color: -fx-background;
}

.tab-header:hover {
    -fx-background-color: -darkish-background-color;
}

.tab-header:selected {
    -fx-background-color: -main-background-color;
    -fx-border-color: -light-highlight-color;
}

.tab-header .tab-title {
    -fx-font-size: 16;
}

.tab-header:selected .tab-title {
    -fx-text-fill: white !important;
}

.selector-sub-title {
    -fx-text-fill: -subtitle-text-color;
    -fx-font-size: 16;
}

.editable-label {
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-label-padding: 0;
    -fx-background-color: transparent;
}

.text-field {
    -fx-accent: -selected-line;
}

.ide {
    -fx-background-color: -darker-background-color;
}

.tab-title {
    -fx-font-size: 14;
}

.fr-vbox {
    -fx-background-radius: 0 0 10 10;
    -fx-background-color: #202937;
    -fx-effect: dropshadow(gaussian, -darkest-background-color, 10, 0.0, 0, 7);
    -fx-padding: 7.5 15 7.5 15;
}

.fr-top-border-pane {
    -fx-padding: 0 0 5 0;
}

.fr-close {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-fill: lightgray;
    -fx-cursor: hand;
}

.fr-close:hover {
    -fx-fill: -highlight-color;
}

.fr-tool-bar-item {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-fill: lightgray;
    -fx-cursor: hand;
}

.fr-tool-bar-item:hover {
    -fx-fill: white;
}

.fr-tool-bar-item:selected {
    -fx-fill: -highlight-color;
}

.fr-text-field {
    -fx-background-color: -lighter-background-color;
    -fx-text-fill: -default-text-color;
    -fx-padding: 1 4 1 4;
    -fx-font-size: 15;
}

.fr-text-field:focused {
    -fx-border-color: -highlight-color;
    -fx-border-radius: 5;
    -fx-border-width: 1;
    -fx-padding: 0 3 0 3;
}

.fr-label {
    -fx-background-color: -fx-background;
    -fx-background-radius: 5;
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-padding: 2 5 2 5;
}

.fr-label:hover {
    -fx-background-color: -lighter-background-color;
}

.fr-title {
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.fr-error {
    -fx-background-color: #c34c3c !important;
}

.choice-box {
    -fx-background-color: -main-background-color;
    -fx-background-radius: 2;
    -fx-text-fill: -default-text-color;
    -fx-min-width: 100;
    -fx-max-width: 150;
    -fx-prompt-text-fill: -default-text-color;
    -fx-highlight-text-fill: -light-highlight-color;
    -fx-color: -default-text-color;
}

.auto-select {
    -jfx-checked-color: -light-highlight-color;
}

.run-selector .label {
    -fx-text-fill: -default-text-color;
}

.run-selector .text {
    -fx-text-fill: -default-text-color;
}

.label {
    -fx-text-fill: -default-text-color;
}

.highlighted-label {
    -fx-text-fill: -highlight-color;
}

.simple-button {
    -fx-background-color: transparent !important;
}

.scroll-pane > .corner {
    -fx-background-color: -main-background-color;
    -fx-background-insets: 0 0 0 0;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: -1;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: -main-background-color;
}

.increment-button, .decrement-button {
    -fx-background-color: -main-background-color;
    -fx-border-color: -main-background-color;
    -fx-border-width: 0;
    -fx-shape: "";
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: -main-background-color;
    -fx-border-color: -main-background-color;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #b94646;
    -fx-opacity: 0.7;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal:hover .thumb,
.scroll-bar:vertical:hover .thumb {
    -fx-opacity: 1;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: transparent;
    -fx-padding: 2;
}

.scroll-pane:focused,
.split-pane:focused,
.list-view:focused,
.tree-view:focused,
.table-view:focused,
.tree-table-view:focused {
    -fx-background-color: -fx-background;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.scroll-pane:focused,
.split-pane:focused {
    -fx-background-color: -fx-background;
}

.slider .track {
    -fx-background-color: -main-background-color;
    -fx-background-insets: 0 0 -1 0, 0, 1;
    -fx-background-radius: 0.25em, 0.25em, 0.166667em; /* 3 3 2 */
    -fx-padding: 0.25em; /* 3 */
}

.slider:vertical .track {
    -fx-background-color: -main-background-color;
}

.button {
    -fx-background-color: -main-background-color;
    -fx-font-size: 14;
    -fx-padding: 2;
    -fx-background-radius: 0;
    -fx-font-weight: bold;
    -fx-text-fill: -default-text-color;
}

.button:hover {
    -fx-background-color: -lighter-background-color;
}

.active-button {
    -fx-background-color: -darker-background-color;
}

.active-button:hover {
    -fx-background-color: #18182f;
}

.darker-background {
    -fx-background-color: -darker-background-color;
}

.dark-background {
    -fx-background-color: -main-background-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: -main-background-color;
}

.split-pane:vertical > .split-pane-divider {
    -fx-background-color: -main-background-color;
}

.split-pane {
    -fx-background-color: -main-background-color;
    -fx-border-color: -main-background-color;
}

.dark-split-pane:horizontal > .split-pane-divider {
    -fx-background-color: -darkest-background-color;
}

.dark-split-pane:vertical > .split-pane-divider {
    -fx-background-color: -darkest-background-color;
}

.dark-split-pane:horizontal > .split-pane-divider:hover {
    -fx-background-color: -darker-background-color;
}

.dark-split-pane:vertical > .split-pane-divider:hover {
    -fx-background-color: -darker-background-color;
}

.darker-split-pane {
    -fx-background-color: -darker-background-color;
    -fx-border-color: -darker-background-color;
}

.darker-split-pane:horizontal > .split-pane-divider {
    -fx-background-color: -darker-background-color;
}

.darker-split-pane:vertical > .split-pane-divider {
    -fx-background-color: -darker-background-color;
}

.darker-split-pane:horizontal > .split-pane-divider:hover {
    -fx-background-color: -darker-background-color;
}

.darker-split-pane:vertical > .split-pane-divider:hover {
    -fx-background-color: -darker-background-color;
}

.black-border {
    -fx-border-color: -fx-near-black;
    -fx-border-width: 3.5;
}

.small-black-border {
    -fx-border-color: -fx-near-black;
    -fx-border-width: 1.5;
}

.large-dividers > .split-pane-divider {
    -fx-padding: 0 2em 0 2em;
}

.tree-view {
    -fx-background-color: -main-background-color;
}

.menu-bar {
    -fx-background-color: -darkest-background-color;
}

.menu-bar .label {
    -fx-text-fill: -default-text-color;
}

.menu-item {
    -fx-background-color: -darkest-background-color;
}

.menu-item:hover {
    -fx-background-color: -fx-background;
}

.popup-shower {
    -fx-background-color: rgba(30, 30, 30, 0.7);
}

.context-menu {
    -fx-background-color: -darkest-background-color;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, -darkest-background-color, 15, 0.2, 0.0, 0);
}
.context-menu > * > .separator > .line {
    -fx-border-color: -fx-background;
    -fx-background-color: -fx-background;
    -fx-fill: -fx-background;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: -main-background-color;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-color: -fx-background;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.ac-label {
    -fx-font-family: "JetBrains Mono";
}

.ac-filled-in {
    -fx-text-fill: #ff6f6f;
}

.ac-not-filled-in {
    -fx-text-fill: #dbdbdb;
}

.selected-syntax {
    -fx-background-color: -lighter-background-color;
    -fx-alignment: center-left;
}

.selected-syntax .ac-not-filled-in {
    -fx-text-fill: white;
}

.selected-syntax .ac-filled-in {
    -fx-text-fill: #fd5353;
}

.syntax-box {
    -fx-padding: 0 5 0 5;
    -fx-border-color: -darkest-background-color;
    -fx-border-width: 0 0 0.15em 0;
}

.auto-complete-parent {
    -fx-background-color: -main-background-color !important;
    -fx-background-radius: 0.3em;
}

.ac-scroller, .ac-items-box {
    -fx-background-color: -main-background-color !important;
}

.ac-bottom {
    -fx-background-color: -darkest-background-color;
    -fx-font-family: "Montserrat";
    -fx-padding: 0.2em;
}

.ac-results {
    -fx-text-fill: #f6f6f6;
}

.ac-out-of {
    -fx-text-fill: #e2e2e2;
}

.tooltip-top {
    -fx-background-color: -main-background-color !important;
    -fx-background-radius: 0.3em;
    -fx-padding: 0.35em;
}

.tooltip-divider {
    -fx-border-width: 1;
    -fx-border-color: -darker-background-color;
}

.line-num-holder {
    -fx-border-width: 0 1.5 0 0;
    -fx-border-color: rgb(65, 78, 100);
}

.circle-highlight-background:hover {
    -fx-fill: -highlight-color;
}

.transparent-background {
    -fx-background-color: transparent;
}

.transparent-background:hover {
    -fx-background-color: transparent;
}

.popup-item {
    -fx-spacing: 10;
}

.popup-item .label {
    -fx-text-alignment: center;
    -fx-background-color: -darkest-background-color;
}

.popup-item .text-field {
    -fx-background-color: -darkest-background-color;
    -fx-text-fill: -default-text-color;
    -fx-background-insets: -2;
    -fx-background-radius: 5;
}

.popup-item .text-field:focused {
    -fx-border-color: -highlight-color;
    -fx-border-width: 3;
    -fx-border-radius: 5;
}

.popup-item .button:focused {
    -fx-border-color: -highlight-color;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}

.popup-item .button {
    -fx-background-radius: 5;
}

.tree-cell .text {
    -fx-font-size: 13;
    -fx-fill: -default-text-color;
}

.tree-cell:selected {
    -fx-background-color: -lighter-background-color;
}

.file-drag-over {
    -fx-background-color: -main-background-color;
}

.tree-cell:selected .text {
    -fx-fill: -light-highlight-color;
}

.popup-title {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: -highlight-color;
}

.language-choice-box {
    -fx-background-color: -darker-background-color;
}
