* {
    -selected-line: #2F4262;
    -editor-selection: rgb(51, 77, 123);
}

.viewport {
    -fx-background-color: rgb(255, 255, 255);
    -fx-opacity: 0.3;
}

.viewport:hover {
    -fx-opacity: 0.4;
}

.viewport:focused {
    -fx-opacity: 0.5;
}
